<mat-card
  class="book-card"
  [class.unavailable]="!book().available"
  [class.favorite]="book().favorite"
  [style.border-left-color]="genreColor()"
>
  <mat-card-header>
    <mat-card-title>{{ book().title }}</mat-card-title>
    <mat-card-subtitle>{{ book().author }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    @if (book().available) {
      <p>Kniha je dostupná.</p>
    } @else {
      <p>Kniha je momentálne vypožičaná.</p>
    }

    @if (showDetails) {
      <app-book-detail [book]="book()"></app-book-detail>
    }
  </mat-card-content>

  <mat-card-actions>
    <button matButton (click)="toggleDetails()">
      @if (showDetails) {
        Skryť detail
      } @else {
        Zobraziť detail
      }
    </button>

    <button matButton="filled" [disabled]="!book().available" (click)="borrow()">Vypožičať</button>

    @if (!book().available) {
      <button matButton="outlined" (click)="giveBack()">Vrátiť</button>
    }

    <button matIconButton (click)="toggleFavorite()">
      @if (book().favorite) {
        <mat-icon class="favorite-icon">star</mat-icon>
      } @else {
        <mat-icon>star_border</mat-icon>
      }
      &
    </button>
  </mat-card-actions>
</mat-card>
