<section>
  <h2>Zoznam kníh</h2>
  <p>V knižnici je spolu {{ books.length }} kníh.</p>

  @for (book of books; track book.id; let i = $index) {
    @if (isOnCurrentPage(i)) {
      <app-book-card [book]="book"></app-book-card>
    }
  } @empty {
    <p>V knižnici zatiaľ nie sú žiadne knihy.</p>
  }

  <div class="pagination">
    <button matButton="outlined" (click)="previousPage()" [disabled]="currentPage === 1">
      <mat-icon>chevron_left</mat-icon>
      Predošlá
    </button>

    <span>Strana {{ currentPage }} z {{ pageCount() }}</span>

    <button matButton="outlined" (click)="nextPage()" [disabled]="currentPage === pageCount()">
      Ďalšia
      <mat-icon iconPositionEnd>chevron_right</mat-icon>
    </button>
  </div>
</section>